@* @page "/fetchdata"

<PageTitle>Fetch</PageTitle>
<quiz.Components.ScqComponent  OnClickCallback="AddAnswer"></quiz.Components.ScqComponent>


@* <quiz.Components.McqComponent></quiz.Components.McqComponent> *@


@* @code {
    public string Local { get; set; }
    void AddAnswer(string e) 
    {   
        Local = e.ToString();
        Console.WriteLine($"Text: {Local}");   
    }
}

<h1>@Local</h1> *@
@page "/fetchdata"
@using Entity
Hello

@Questions.Count

@code {
    public List<Question> Questions { get; set; } = new List<Question>();
    protected override void OnInitialized()
    {
        var http = new HttpClient();
        var qs = http.GetFromJsonAsync<List<Question>>("data.json").Result;
        Questions = qs == null ? new List<Question>() : qs;
    }
}