@* @page "/fetchdata"

<PageTitle>Fetch</PageTitle>
<quiz.Components.ScqComponent  OnClickCallback="AddAnswer"></quiz.Components.ScqComponent>


@* <quiz.Components.McqComponent></quiz.Components.McqComponent> *@


@* @code {
    public string Local { get; set; }
    void AddAnswer(string e) 
    {   
        Local = e.ToString();
        Console.WriteLine($"Text: {Local}");   
    }
}

<h1>@Local</h1> *@