@page "/"
@using Entity
@inherits ComponentBase
@inject HttpClient Http
@using Newtonsoft.Json
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@foreach (var q in questions)
{
    if(q.Answers.Values.Where(a => a == true).Count() == 1)
    {
        if (q.Answers.Keys.Count == 1)
        {
            <quiz.Components.IqComponent OnClickCallback="AddAnswer" question="q"/> 
        }
        else
        {
            <quiz.Components.ScqComponent OnClickCallback="AddAnswer" question="q"/>
        }
    }
    else
    {
        <quiz.Components.McqComponent OnClickCallback="AddAnswer" question="q"/>
    }
}

<p>@Score</p>



@code {

    public float Score { get; set; } = 0;
    public Question abc { get; set; } = new Question();

    public List<Question> questions { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        questions = await QReader();
    }


    void AddAnswer(float e) 
    {   
        Score += e;
        Console.WriteLine($"Text: {Score}");   
    }

    public async Task<List<Question>> QReader()
    {
        string jsonPlace = string.Empty;
        var json = await Http.GetAsync(@"data.json");
        var jsonString = await json.Content.ReadAsStringAsync();
        System.Console.WriteLine(jsonString);
        var qs = JsonConvert.DeserializeObject<List<Question>>(jsonString);
        return qs;
    }
}

<h1>@Score</h1>